:root {
  --background: #333;
  --color: #eee;
}

.left {
  float: left;
  width: 30%;
  height: 90vh;
  overflow: auto;
}

body {
  clear: both;
  background-color: var(--background);
  color: var(--color);
  font-family: Roboto, sans-serif;
}

.bp3-input {
  font-family: monospace;
}

.flex-input .bp3-input-group {
  display: inline-flex;
  flex: 1;
}

.flex-input .bp3-input-group input {
  flex: 1;
}

#entries td {
  padding: 6px 11px;
}

#stats .table table {
  margin-top: 20px;
  border: none;
  font-size: 18px;
  vertical-align: middle;
}

#stats .table table td {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 7px;
}

#stats, #info {
  margin-left: 50px;
  margin-top: 20px;
}

#info {
  font-size: small;
}

#sessionResult {
  font-size: medium;
}

table {
  border-collapse: collapse;
}

table,
table td,
table th {
  border: 1px white solid;
}

.midTable th {
  padding: 0.5em;
}

.border {
  height: 0.5em;
  width: 100%;
  background-color: var(--color);
}

.midTable td {
  padding: 0.5em;
  text-align: center;
}

#hidden,
.hidden {
  display: none;
}

.graph-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
