:root {
  --background: #333;
  --color: #eee;
}

.left {
  float: left;
  width: 30%;
  height: 90vh;
  overflow: auto;
}

body {
  clear: both;
  background-color: var(--background);
  color: var(--color);
  font-family: Roboto, sans-serif;
}

th {
  background: var(--background);
}

#entries td *,
#entries td {
  text-align: center;
  width: auto;
}

#entries td.session input {
  width: 5.5em;
}

#entries td.sr input {
  width: 4em;
}

#entries td.size input {
  width: 6.5em;
}

#entries td.season input {
  width: 5em;
}

#stats,
#stats .table,
#info {
  margin-left: 50px;
  margin-top: 20px;
}

#info {
  font-size: small;
}

#sessionResult {
  font-size: medium;
}

table {
  border-collapse: collapse;
}

table,
table td,
table th {
  border: 1px white solid;
}

.midTable th {
  padding: 0.5em;
}

.border {
  height: 0.5em;
  width: 100%;
  background-color: var(--color);
}

.midTable td {
  padding: 0.5em;
  text-align: center;
}

td input,
td select,
td button {
  background-color: var(--background-color);
  color: var(--color);
  border-style: hidden;
}

td button {
  background-color: red;
}

svg {
  padding: 2em;
}

#hidden,
.hidden {
  display: none;
}
