body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 30px;
    grid-template-areas:
    "mainLeft mainMid mainRight"
    "footer footer footer";
}

.mainLeft {
    grid-area: mainLeft;
    overflow-y: scroll;
}

#entries {
    margin: 2em;
}

.mainMid {
    grid-area: mainMid;
    padding: 1em;
}

.mainRight {
    grid-area: mainRight;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.canvasContainer {
    width: 28vw;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > * {
    margin-left: 1em;
    align-self: baseline;
}